*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgba(171, 171, 224, 0.7);
    margin:0;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgb(11, 59, 189) 0%, rgb(6, 65, 175) 100%);
    position: sticky;
    top: 0px;
    overflow: auto;
    z-index: 10;
}

.header h1{
    margin-left: 10px;
}
.header .nav-div{
    width: 50%;
    margin-right: 50px;
}
.nav-div ul{
    display: flex;
    justify-content: space-between;
}
.header li.nav a{
    transition: all 0.5s;
}
.header li.nav:hover a{
    box-shadow: 0 -6px 0 0 rgb(255, 0, 140) inset;
}

.header ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}
.header ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 40px;
    width:60px;
}

/* main */
.main{
    width: 99%;
}

/* sidebar */
.filters{
    width: 20%;
    float: left;
}
.filters::-webkit-scrollbar{
    scrollbar-width: thin;
    height: 5px;
}
.filters h4{
    padding: 5px;
    background-color: rgb(125, 170, 255);
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
.filters ul{
    display:flex;
    flex-direction:column;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    color:rgb(0, 0, 0);
    background-color: rgb(181, 204, 255);
    overflow: auto;
    height:300px;
}

.filters li a{
    display: block;
    color: rgb(9, 5, 46);
    text-decoration: none;
    padding: 3px;
}
.filters li{
    padding:5px;
}
.filters li:hover{
    background-color: rgb(59, 61, 201);
    color: white;
}
.filters li a:hover{
    color: white;
}

/* posts */
.posts{
    display: flex;
    justify-content: center;
}
.posts-div{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.main .posts-div img{
    width:320px;
    padding: 5px;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(245, 245, 245);
    background-color: rgb(10, 10, 100);
    height:50px;
}

/* media queries */
@media screen and (max-width:900px){
    .header{
        flex-direction: column;
    }
    .header .nav-div{
        width: 80%;
        margin-right: 0;
    }
    .filters{
        display: none;
    }
    .main{
        display: block;
        margin-left: 0;
    }
    .posts-div{
        margin:auto;
    }
}
@media screen and (max-width: 1000px) {
    img{
        max-width: 45vw;
    }
}